<div class="nav-bar">
  <div class="links">
    <%= link_to "ÉDOUARD NARDON", root_path(anchor:"up"), class:"ed" %>
    <%= link_to "INFORMATION", root_path(anchor: "description"), class:"info" %>
  </div>
  <div class="loop-holder">
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
    <div class="loop-holder__text"> HELLO, MY NAME IS ÉDOUARD NARDON. I AM A CREATIVE DIRECTOR BASED IN NEW YORK CITY. I SPECIALIZE IN ART, FASHION AND BEAUTY PROJECTS. &nbsp;
    </div>
  </div>
</div>
<div class="carrousel">
</div>
<div class="down" id="description">
</div>
<div class="all-pics" id="pics">
 <%= image_tag("HELLOVECTO-1.png", class: "img-one") %> <br>
 <%= image_tag("my-name-is.png", class: "img-two") %> <br>
 <%= image_tag("edouard=nardon.png", class: "img-three") %> <br>
 <%= image_tag("iam.png", class: "img-four") %> <br>
 <%= image_tag("basedinny.png", class: "img-five") %> <br>
 <%= image_tag("foranyenquiries.png", class: "img-six") %> <br>
 <%= image_tag("pleasesend.png", class: "img-seven") %> <br>
 <a href = "mailto:edouardnardon@gmail.com" class="mail"><%= image_tag("here.png", class:"img-eight") %></a>
</div>
<div class="all-pics" id="pics">
<p class="test one be" style='font-variation-settings: "wght" 76.9721, "wdth" 437.395246, "opsz" 32.4196, "XOPQ" 106.063, "XTRA" 371.5, "YOPQ" 44.4875, "YTLC" 600, "YTSE" 13, "GRAD" 88, "XTCH" 926.111, "YTCH" 1068.3, "YTAS" 808.611, "YTDE" 238.611, "YTUC" 924.583, "YTRA" var(--YTRA);
  --YTRA: 908.333;'> HELLO </p>
<p class="test two be"> MY NAME IS </p>
<p class="test three be"> EDOUARD NARDON. </p>
<p class="test four be"> I AM A CREATIVE DIRECTON </p>
<p class="test five be"> BASED IN NEW YORK CITY. </p>
<p class="test six be"> FOR ANY ENQUIRIES, </p>
<p class="test seven be">PLEASE SEND ME AN EMAIL </p>
<p class="test eight be"> HERE </p>
</div>
<div class="back">
  <%= link_to root_path(anchor:"up") do %>
    <%= image_tag("arrow.png", width: 90, height: 90) %>
  <% end %>
</div>
